<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/blog/create">Create new employee</a>
<h1>Employees</h1>
<form>
    Search by name:
    <input name="searchName" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Birth Date</th>
        <th>Address</th>
        <th>Avatar</th>
        <th>Salary</th>
        <th>Department</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <th:block th:each="employee : ${blogs}">
        <tr>
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.tittle}"></td>
            <td th:text="${employee.createDate}"></td>
            <td th:text="${employee.content}"></td>
            <td><img width="150px" height="150px" th:src="@{'/i/' + ${employee.image}}"></td>
            <td th:text="${employee.category.name}"></td>
            <td><a th:href="@{/blog/edit/__${employee.id}__ }">Edit</a></td>
            <td><a th:href="@{/blog/delete/__${employee.id}__ }">Delete</a></td>
            <td><a th:href="@{/blog/view/__${employee.id}__}">View</a> </td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/blog/list'(page=${blogs.number - 1})}" th:if="${blogs.hasPrevious()}">Previous</a>
    <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
    <a th:href="@{'/blog/list'(page=${blogs.number + 1})}" th:if="${blogs.hasNext()}">Next</a>
</div>
</body>
</html>